<h2 style="margin-left:50px">Runes and Tarot</h2>

<div class="container mb-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-4 m-0 p-0s" id="f1_container">
            <div id="f1_card">
            <img class="front face" src="/assets/img/tarot/1.png"  >    
            <img class="back face center" src="/assets/img/tarot/11.png">  
            </div>
            </div>
        <div class="col-4 m-0 p-0"> <h2>Death</h2> 
            <p>The Death card shows the Messenger of Death – a skeleton dressed in black armour, riding a white horse.
                 The skeleton represents the part of the body which survives long after life has left it; the armour symbolises
                 nvincibility and that death will come no matter what. Its dark colour is that of mourning and the mysterious,
                  while the horse is the colour of purity and acts as a symbol of strength and power. Death carries a black flag 
                  decorated with a white, five-petal rose, reflecting beauty, purification and immortality and the number five 
                  representing change. Together, these symbols reveal that death isn’t just about life ending. Death is about 
                  endings and beginnings, birth and rebirth, change and transformation. There is beauty in death, and it is an 
                  inherent part of being alive.</p></div>
        <div class="col-4 d-none d-xl-block"><img class="pluspic" src="/assets/img/Hel_pluspic.svg"></div>
    </div>
</div>

<div class="container mt-5 pt-5 mb-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-4 m-0 p-0s" id="f1_container">
            <div id="f1_card">
            <img class="front face" src="/assets/img/tarot/2.png"  >    
            <img class="back face center" src="/assets/img/tarot/11.png">  
            </div>
            </div>
        <div class="col-4 m-0 p-0"><h2>The world</h2> <p>A Világ kártyája az újra megtalált egységet, 
                The World card shows a naked woman wrapped in a purple cloth, dancing inside a large laurel wreath. 
                She looks behind her to the past, while her body moves forward to the future. In her hands are two 
                wands or batons, like the one the Magician holds. It is a symbol that what was manifested with the 
                Magician has now come to completion with the World. The wreath is circular, symbolising a continual
                 cycle of successful completion and new beginnings because, as the woman steps through the wreath, 
                 she is completing one phase but beginning another one almost straight away. </p></div>
        <div class="col-4 d-none d-xl-block"><img class="pluspic" src="/assets/img/hagalaz.svg"></div>
    </div>
</div>

<div class="container mt-5 pt-5 mb-5 pb-5">
        <div class="row justify-content-center">
            <div class="col-4 m-0 p-0s" id="f1_container">
                <div id="f1_card">
                <img class="front face" src="/assets/img/tarot/3.png"  >    
                <img class="back face center" src="/assets/img/tarot/11.png">  
                </div>
                </div>
            <div class="col-4 m-0 p-0"><h2>The Hermit</h2> 
                <p>The Hermit stands alone on the top of a mountain. The snow-capped range symbolises his spiritual
                     mastery, growth and accomplishment. He has chosen this path of self-discovery and, as a result,
                      has reached a heightened state of awareness. In his right hand, he holds a lantern with a six-pointed
                       star inside; it is the Seal of Solomon, a symbol of wisdom. As the Hermit walks his path, the lamp 
                       lights his way – but it only illuminates his next few steps rather than the full journey. He must step 
                       forward to see where to go next, knowing that not everything will be revealed at once. In his left hand
                       , the side of the subconscious mind, the Hermit holds a long staff (a sign of his power and authority)
                       , which he uses to guide and balance him..</p></div>
            <div class="col-4 d-none d-xl-block"><img class="pluspic" src="/assets/img/hermit.svg"></div>
        </div>
    </div>

    <div class="container mt-5 pt-5 mb-5 pb-5">
            <div class="row justify-content-center">
                <div class="col-4 m-0 p-0s" id="f1_container">
                    <div id="f1_card">
                    <img class="front face" src="/assets/img/tarot/4.png"  >    
                    <img class="back face center" src="/assets/img/tarot/11.png">  
                    </div>
                    </div>
                <div class="col-4 m-0 p-0"><h2>Justice</h2> <p>
                        The figure of Justice sits in front of a loosely hung purple veil, signifying compassion,
                         and between two pillars, similar to those framing the High Priestess and the Hierophant,
                          which symbolise balance, law and structure.She holds a sword in her right hand, showing the logical,
                           well-ordered mindset necessary to dispense fair justice. The sword points upwards 
                           – expressing a firm and final decision – and the double-edged blade signifies that our actions 
                           always carry consequences. The scales in her left (intuitive) hand, show intuition must balance 
                           that logic and are a symbol of her impartiality. Justice wears a crown with a small square on it
                            representing well-ordered thoughts, and a red robe with a green mantle. </p></div>
                <div class="col-4 d-none d-xl-block"><img class="pluspic" src="/assets/img/tyr.svg"></div>
            </div>
        </div>

        <div class="container mt-5 pt-5 mb-5 pb-5">
                <div class="row justify-content-center">
                    <div class="col-4 m-0 p-0s" id="f1_container">
                        <div id="f1_card">
                        <img class="front face" src="/assets/img/tarot/5.png"  >    
                        <img class="back face center" src="/assets/img/tarot/11.png">  
                        </div>
                        </div>
                    <div class="col-4 m-0 p-0"><h2>The magician</h2> <p>
                            The Magician card is numbered One – the number of new beginnings and opportunities – 
                            and associates with the planet of Mercury. He stands with one arm stretched upwards towards 
                            the Universe, and the other pointing down to the earth. His positioning represents his connection 
                            between the spiritual realms and the material realms. The Magician uses this relationship 
                            to create and manifest his goals in the physical realm. He is the conduit that converts 
                            energy into matter. The Magician’s robe is white, symbolising purity, and his cloak is red,
                             representing worldly experience and knowledge.</p></div>
                    <div class="col-4 d-none d-xl-block"><img class="pluspic" src="/assets/img/mannaz.svg"></div>
                </div>
            </div>


   
   
