<mat-sidenav-container >
  <mat-sidenav #sidenav mode="side" class="side">

  <div class="container">
        <div class="row d-none d-lg-none d-xl-block" (click)="sidenav.toggle()">
        <a routerLink="/images"><i class="material-icons">collections &nbsp;</i></a>
        <a routerLink="/images" id="nav">Gallery</a>
    </div>
  
      <div class="row d-none d-lg-none d-xl-block" (click)="sidenav.toggle()">
        <a routerLink="/bio" class="p3"><i class="material-icons">account_box &nbsp;</i></a>
        <a routerLink="/bio" id="nav">About me</a>
      </div>
  
      <div class="row d-none d-lg-none d-xl-block" (click)="sidenav.toggle()">
        <a routerLink="/projects" class="p3"><i class="material-icons">assignment &nbsp;</i></a>
        <a routerLink="/projects" id="nav">Projects</a>
      </div>
  
      <div class="row d-none d-lg-none d-xl-block" (click)="sidenav.toggle()">
        <a routerLink="/favs" class="p3"><i class="material-icons">thumb_up &nbsp;</i></a>
        <a routerLink="/favs" id="nav">Favourites</a>
      </div>

      <div class="row d-none d-lg-none d-xl-block" (click)="sidenav.toggle()">
        <a routerLink="" class="p3"><i class="material-icons">home &nbsp;</i></a>
        <a routerLink="" id="nav">Home</a>
      </div>
  
    </div>

  

  </mat-sidenav>

  <mat-sidenav-content class="content">
  <button mat-button (click)="sidenav.toggle()" class="button"><img src="/assets/img/logo.png" class="logo"></button>
  <router-outlet></router-outlet>
 </mat-sidenav-content>

</mat-sidenav-container>